.navbar {
  padding: 1px 10%;
  background-color: #13105d;
  display: flow-root;
  justify-content: space-between;
  align-items: center;
}
.logo p {
  font-size: 30px;
  color: darkorange;
  font-weight: bolder;
}
.logo span {
  color: white;
  font-size: 34px;
}
.navs li {
  color: darkorange;
  font-size: x-large;
  font-weight: bold;
}
.navbar li:hover {
  background-color: white;
  cursor: pointer;
}
.navs ul {
  list-style: none;
}
.components {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home {
  text-decoration: none;
  color: darkorange;
}
.booking {
  text-decoration: none;
  color: darkorange;
}
